%section#about.about.roomy-100
  .container
    .row
      .col-xs-12
        .head_title.section-title.text-center
          MEET CRYPTOMOVER
      .about_bottom_content
        .col-md-4
          .about_bottom_item.m-top-20
            .ab_head.text-center
              = image_tag "message", width: "100px", height: "100px"
              .separator_about
              .ab_head_icon
                -# %i.icofont.icofont-fire-burn
              %h4.m-top-20 OUR TEAM
            %p.m-top-20
              Our founders have managed and traded both MSCI and FTSE indexes in the past for bulge bracket banks. This unique experience coupled with our understanding of crypto finance allow us to come up with leading edge index formation methods, methodologies that are both fair and transparent.
              %br
              = link_to "READ MORE"
        .col-md-4
          .about_bottom_item.m-top-20
            .ab_head.text-center
              = image_tag "connect", width: "100px", height: "100px"
              .separator_about
              .ab_head_icon
                -# %i.icofont.icofont-speech-comments
              %h4.m-top-20 CRYPTOVOICES
            %p.m-top-20
              Our daily write up on our index performance and general market news. Cryptovoices is a one place to go to read a comprehensive trading commentary covering the news flow, price levels of major cryptocurrencies & our indexes. We publish a commentary once a day, daily at 8:00 am HKT.
              %br
              = link_to "READ MORE"
        .col-md-4
          .about_bottom_item.m-top-20
            .ab_head.text-center
              = image_tag "idea", width: "70px", height: "100px"
              .separator_about
              .ab_head_icon
                -# %i.icofont.icofont-heart
              %h4.m-top-20 CRYPTANALYSIS
            %p.m-top-20
              Cryptanalysis is This series is a detailed in-depth look at specific technologies, trends, or products in the market. The objective is to educate readers with the basic knowledge on technology of major cryptocurrencies & our in house technical analysis on the most liquid cryptocurrencies. We post one research a day at 8:00 am HKT daily.
              %br
              = link_to "READ MORE"
    / End off row
  / End off container

  -#
  -# Keep this commented section for future referenced
  -#
  -# .container
  -#   .row
  -#     .main_about
  -#       .col-md-6
  -#         .about_content
  -#           %h2 ABOUT US
  -#           .separator_left
  -#           %p Cryptomover is an index fund in digital asset world, first of its kind. The aim is to provide end to end automated altcoin investment platform accessible to everyone. We are based in Hong Kong.
  -#           .about_btns.m-top-40
  -#             / <a href="" class="btn btn-primary">Read More</a>
  -#             = link_to 'Read More', about_path, class: "btn btn-primary"
  -#       .col-md-6
  -#         .about_accordion.wow.fadeIn
  -#           #faq_main_content.faq_main_content
  -#             %h6
  -#               %i.fa.fa-angle-right
  -#               UNIQUE DESIGN
  -#             %div
  -#               .content
  -#                 %p
  -#                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
  -#                   sed diam nonummy nibh euismod tincidunt ut laoreet dolore
  -#                   magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
  -#             / End off accordion item-1
  -#             %h6.open
  -#               %i.fa.fa-angle-right
  -#               EXPERIENCE TEAM
  -#             .open
  -#               .content
  -#                 %p
  -#                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
  -#                   sed diam nonummy nibh euismod tincidunt ut laoreet dolore
  -#                   magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
  -#             / End off accordion item-2
  -#             %h6
  -#               %i.fa.fa-angle-right
  -#               GREAT SERVICE
  -#             %div
  -#               .content
  -#                 %p
  -#                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
  -#                   sed diam nonummy nibh euismod tincidunt ut laoreet dolore
  -#                   magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
  -#             / End off accordion item-3
  -#             %h6
  -#               %i.fa.fa-angle-right
  -#               FREE UPDATES
  -#             %div
  -#               .content
  -#                 %p
  -#                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
  -#                   sed diam nonummy nibh euismod tincidunt ut laoreet dolore
  -#                   magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
  -#             / End off accordion item-4
  -#   / End off row
  -# / End off container
  -# %br/
  -# %br/
  -# %br/
  -# %br/
  -# %hr/
  -# %br/
  -# %br/
