#help-card
  .card
    .card-header
      %h1
        Wallet Help
    .card-body
      = link_to "Back", root_path
      %h2
        How to use Cryptomover Stellar Wallet?
      %hr
      %h5
        %u
          Security
      %big
        %p
          We do not store your Secret Seed anywhere, except if you are login using Trezor wallet. You will have to type it each time you want to do a transaction which requires a Secret Seed.
      %h5
        %u
          Create New Account
      %big
        %ul
          %li
            This creates a New Stellar Account on Stellar Public Network.
          %li
            Read all instructions carefully before proceeding.
          %li
            Use Show button to see your Secret Seed. Keep it secured and private.
          %li
            DO NOT lose the Secret Seed.
      %h5
        %u
          Trezor Login
      %big
        %ul
          %li
            Type a Unique Path and Strong Key. Keep this key secure and private.
          %li
            Trezor Hardware wallet generates the secret seed of your Stellar Account.
          %li
            Create a secure password 'Key' Input box, and keep it safe do not lose it.
          %li
            Each path holds a single asset for example Stellar or Bitcoin or Ethereum etc.
          %li
            A unique key and a unique Bip32 path makes a unique Stellar account.
          %li
            Our Encryption Value for Trezor Login is
            .address
              fb00d59cd37c56d64ce6eba73af7a0aacdd25e06d18f98af16fc4a7b341b7136
            %br
            You might need this in case you want to login to this Trezor Stellar Account from some other way.
      %h5
        %u
          Portfolio
      %big
        %ul
          %li
            After you login using your Public Stellar Key, you will be redirected to Portfolio page.
          %li
            Portfolio page will automatically fetch your balance. Wait for it to load.
          %li
            Use Copy button to copy your public address to your Clipboard.
          %li
            Portfolio page shows four columns, Coin, Issuer, Balance and its total USD value.
          %li
            Clicking on Issuer address will expand it to show full address.
      %h5
        %u
          Send
      %big
        %ul
          %li
            Use this page to transfer assets from your account to other accounts as well as to activate new accounts.
          %li
            All values are compulsory.
          %li
            Memo value should follow size and format rules of its type as described here:
            = link_to "https://www.stellar.org/developers/guides/concepts/transactions.html#memo", "https://www.stellar.org/developers/guides/concepts/transactions.html#memo", target: "_blank"
          %li
            Select
            %b
              Fund New Account
            checkbox if you want to activate new account.
      %h5
        %u
          Transactions
      %big
        %ul
          %li
            This page lists all your transaction history.
          %li
            Amount is in respective asset unit.
      %h5
        %u
          Assets
      %big
        %ul
          %li
            Use this page to trust new assets so that you can send and receive them.
          %li
            All fields are compulsory.
          %li
            Use Browse assets to search for assets.
      %p.text-center.text-muted
        Credit: Rocket Background Logo from
        = link_to "The Noun Project", "https://www.thenounproject.com", target: "_blank"
    - if not session[:address]
      #login-footer.card-footer.text-center
        = link_to "https://medium.com/cryptomover", target: "_blank" do
          %i.fab.fa-medium.fa-3x
        = link_to "https://t.me/cryptomover", target: "_blank" do
          %i.fab.fa-telegram.fa-3x
        = link_to "https://twitter.com/cryptomover", target: "_blank" do
          %i.fab.fa-twitter.fa-3x
        = link_to "https://github.com/cryptomover-code/stellar-rails", target: "_blank" do
          %i.fab.fa-github.fa-3x
