#login-card
  .card
    .card-header
      %h1
        Login
    .card-body
      %form#login_form.m-t{action: login_path, role: "form"}
        .form-group
          %label
            Enter your Stellar Public Stellar Key
          %input#public-key.form-control.form-control-lg{name: "public_key", placeholder: "Enter Public Key", type: "text"}/
        .row
          .col
            .mb-2.mx-auto.text-center
              = recaptcha_tags
          .col.my-auto#login-btn
            %button.btn.btn-brown.btn-lg{type: "submit"} Login
          .col.my-auto
            = link_to "New User? Create New Stellar Account.", new_account_path, class: "btn"
      -# %hr
      -# .text-center
      -#   = link_to trezor_wallet_login_path, class: "btn btn-info block full-width m-b" do
      -#     = image_tag("trezor_logo.png")
      -#     Login with Trezor
    #login-footer.card-footer.text-center
      = link_to "https://medium.com/cryptomover", target: "_blank" do
        %i.fab.fa-medium.fa-3x
      = link_to "https://t.me/cryptomover", target: "_blank" do
        %i.fab.fa-telegram.fa-3x
      = link_to "https://twitter.com/cryptomover", target: "_blank" do
        %i.fab.fa-twitter.fa-3x
      = link_to "https://github.com/cryptomover-code/stellar-rails", target: "_blank" do
        %i.fab.fa-github.fa-3x
