<div class="wrapper wrapper-content">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <!-- <span class="label label-warning pull-right">Data has changed</span> -->
                        <h5>Portfolio Exposure</h5>
                    </div>
                    <div class="ibox-content">
                        <p>Your Address: <strong><%= session[:address]  %></strong></p>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Coin </th>
                                    <th>Ballance </th>
                                    <th>Action </th>
                                </tr>
                                </thead>
                                <tbody>
                                <% @balances.each do |b| %>
                                <tr>
                                    <td><%= b["asset_code"] || "Lumens" %></td>
                                    <td><%= b["balance"] %></td>
                                    <td>
                                      <%= link_to "Send", "/stellar_send?asset_name=#{b['asset_code']}" %>
                                    </td>
                                </tr>
                                <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="ibox">
                  <div class="ibox-title">
                      <h5>Send Luments/Assets</h5>
                  </div>
                  <div class="ibox-content">
                    <%= form_tag  '/stellar_send', {class: "m-t"} do %>
                      <div class="form-group">
                          <%= select_tag :asset_name, options_for_select(@balances.map{|b| b["asset_code"].nil? ? "lumens" :  [b["asset_code"], "#{b['asset_code']}|#{b['asset_issuer']}"] }, "lumens"), class: "form-control" %>
                      </div>
                      <div class="form-group">
                          <input type="text" name="address" class="form-control" placeholder="Recipient's public key or address" required="true">
                      </div>
                      <div class="form-group">
                          <input type="text" name="amount" class="form-control" placeholder="Amount to send" required="true">
                      </div>
                      <%= submit_tag "Send", disable_with: "Sending",  class: "btn btn-primary block full-width m-b" %>

                    <% end %>
                  </div>
                </div>

            </div>
        </div>

    </div>

</div>
