#new-account-card
  .card
    .card-header
      %h1
        Federation Stellar Account
    .card-body
      %ul
        %li
          Federation Stellar address allows you to resolve email-like addresses such as
          %b
            name*yourdomain.com
          into Stellar Account addresses like
          .address
            GCCVPYFOHY7ZB7557JKENAX62LUAPLMGIWNZJAFV2MITK6T32V37KEJU
        %li
          = link_to 'Click here', 'https://www.stellar.org/developers/guides/concepts/federation.html'
          to know more about Stellar Federation Addresses.

      - if @federations.present?
        .alert.alert-success
          Your address
          .address
            = @address
          is associated with following Federation Username
        - @federations.each do |f|
          - federation_address = "#{f.username}*cryptomover.com"
          %h3.text-center
            = federation_address
        .alert.alert-danger
          Please prefer Cryptomover Stellar Wallet to send funds to Federation Address. Other Exchanges might not support sending assets to this federation address as of now.
      - else
        = form_with model: Federation.new do |form|
          .form-group
            = form.label 'The username is limited to printable UTF-8 with whitespace and the following characters excluded: <*,>'
            = form.label :username
            = form.text_field :username, class: "form-control", placeholder: 'Enter desired username here'
          = form.submit 'Save Username'
    .card-footer
