-# LICENSE
-#
-# MIT License
-#
-# Copyright (c) 2017-2018 Cryptomover
-#
-# Permission is hereby granted, free of charge, to any person obtaining a copy
-# of this software and associated documentation files (the "Software"), to deal
-# in the Software without restriction, including without limitation the rights to
-# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
-# of the Software, and to permit persons to whom the Software is furnished to do
-# so, subject to the following conditions:
-#
-# The above copyright notice and this permission notice shall be included in all
-# copies or substantial portions of the Software.
-#
-# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
-# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
-# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
-# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
-# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
-# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
-# THE SOFTWARE.
-#
.card#portfolio-card{"data-federation": @federation.to_json}
  .card-header
    %h1 Portfolio Exposure
  .card-body
    .row
      .col-md-12.col-lg-11
        Your Address:
        .address#public-address{"data-address": @address.to_json}
          = @address
      .col-md-12.col-lg-1
        %button{type: "button", class: "btn btn-info", "data-clipboard-target": ".address", id: "copy_address"} Copy
    .row
      .col
        - if @federation.present? and not @email_confirmed
          #verify-warning.text-center
            = javascript_pack_tag 'verify_email_btn'
        - elsif @federation.present?
          Federation Address:
          #federation.address
            = @federation
        - else
          #create-federation-account
          = javascript_pack_tag 'create_federation_address'
          -# ToDo
          -# %button.btn.btn-brown#renew-token Renew Verification Token
    %br
    #progressbar
      .progress-label
        Fetching Data...
    #portfolio-table
    = javascript_pack_tag 'portfolio_table'

%script{src: "https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"}
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"}

:javascript
  progressBar()
  new Clipboard('#copy_address')

  $("#balances-tbl").on("click", ".short-address", function() {
    $(this).css("maxWidth", "100%")
  })
