.card#portfolio-card
  .card-header
    %h1 Portfolio Exposure
  .card-body
    .row
      .col-md-12.col-lg-11
        Your Address:
        .address#source-public-key
          = session[:address]
      .col-md-12.col-lg-1
        %button{type: "button", class: "btn btn-info", "data-clipboard-target": ".address", id: "copy_address"} Copy
    .row
      .col
        - if @federation.present? and @federation.email_confirmed
          Federation Address:
          .address
            = "#{@federation.username}*cryptomover.com"
        - elsif @federation.present? and not @federation.email_confirmed
          .alert.alert-warning
            Please verify your email
            = @federation.username
            to activate Federation Account.
        - else
          %button.btn.btn-brown#create-federation-address-btn Create Federation Address
          #create-federation-account
            = render partial: 'shared/create_federation_account'
          -# %button.btn.btn-brown#renew-token Renew Verification Token
    %br
    #progressbar
      .progress-label
        Fetching Data...
    .table-responsive
      %table#balances-tbl.table.table-striped
        %thead
          %tr
            %th Coin
            %th Issuer
            %th Balance
            %th USD Value
        %tbody

%script{src: "https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"}
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"}

:javascript
  $('#create-federation-address-btn').attr('disabled', 'disabled')
  $('#create-federation-account').hide()
  $('#create-federation-address-btn').click(function() {
    $(this).hide()
    $('#create-federation-account').show()
  })

  progressBar()
  new Clipboard('#copy_address')

  $("#balances-tbl").on("click", ".short-address", function() {
    $(this).css("maxWidth", "100%")
  })
  
  $.ajax({
    url: "/get_balances",
  }).done(function(balances) {
    if (balances == 404) {
      $.post('/create_log', {message: '--> ERROR! Inactive Account.'})
      document.location.href = "/inactive_account"
    } else if (balances == "account_error") {
      var message = 'Something Wrong with your account. Please check with Stellar Support or Contact Cryptomover Support.'
      $.post('/create_log', {message: '--> ERROR! ' + message})
      document.location.href = '/failed?error_description=' + message
    } else if (balances == undefined) {
      var message = 'Unable to reach Stellar Server. Check Network Connection Or Try again later.'
      $.post('/create_log', {message: '--> ERROR! ' + message})
      document.location.href = '/failed?error_description=' + message
    } else {
      $("#progressbar").hide()
      $('#create-federation-address-btn').removeAttr('disabled')
      var row = ""
      $("#balances-tbl tbody").remove()

      if(balances.length == 1) {
        // special case of only one asset in account
        var usd_price = numeral(balances[0]["usd_price"]).format('$0,0.00')
        row = $("<tr><td>Lumens</td><td>--</td><td>"+balances[0]["balance"]+"</td><td>"+usd_price+"</td></tr>")
        $("#balances-tbl").append(row)
      } else {
        // multiple assets in accounts
        for(i=0;i < balances.length;i++) {
          if (balances[i]["asset_type"] == "native") {
            var usd_price = numeral(balances[i]["usd_price"]).format('$0,0.00')
            row = $("<tr><td>Lumens</td><td>--</td><td>"+balances[i]["balance"]+"</td><td>"+usd_price+"</td></tr>")
          } else {
            var usd_price = numeral(balances[i]["usd_price"]).format('$0,0.00')
            row = $("<tr><td>"+balances[i]["asset_code"]+"</td><td class='short-address'>"+balances[i]["asset_issuer"]+"</td><td>"+balances[i]["balance"]+"</td><td>"+usd_price+"</td></tr>")
          }
          $("#balances-tbl").append(row)
        }
      }
    }
  })
