#new-account-card
  .card
    .card-header
      %h1 New Stellar Account Details
    .card-body
      .alert.alert-success
        SUCCESS! New Stellar account created successfully.
      %ol
        %li The seed controls 100% of your fund and CAN NOT be recovered if lost. Make sure to backup it offline securely and never lose it.
        %li The account will NOT BE active upon creation. It needs to be funded for at least 1 XLM.
        %li You are not recommended to send XLM directly from exchange to this address unless you are sure that the exchange is able to fund non-existing accounts.
      
      #new-account-details
        .row
          .col-md-12
            %span This is your new public stellar address:
          .col-md-12
            .form-inline
              .address#public-address
                = @address
              %button{type: "button", class: "btn btn-brown", "data-clipboard-target": ".address", id: "copy_address"} Copy
        .row
          .col-md-12
            %span This is your secret stellar seed:
          .col-md-12.text-danger
            .form-inline
              #secret-seed.address.secret-seed.blur-text
                = @seed
              %button{type: "button", class: "btn btn-brown", id: "show-seed"} Show
              %button{type: "button", class: "btn btn-brown", id: "hide-seed"} Hide
              %button{type: "button", class: "btn btn-brown", "data-clipboard-target": ".secret-seed", id: "copy_seed"} Copy
        .alert.alert-danger.text-center.mt-3
          %b This account doesn't exist on the Stellar network yet. To activate this account, send it at least 1 Lumen (XLM) to fulfill the
          = link_to "minimum balance", "https://www.stellar.org/developers/guides/concepts/fees.html#minimum-balance", target: "_blank"
          \.
        #create-federation-account
          - if @federation.present?
            %span.alert.alert-success
              SUCCESS! This is your Stellar Federation Server Address:
              = @federation.username
              *cryptomover.com
          - else
            = render partial: 'shared/create_federation_account'
    .card-footer
      .row.mb-2
        .col-md-12.text-center
          = link_to "Go to Wallet", portfolio_path, class: "btn btn-brown"
          = link_to "Log Out", logout_path, class: "btn btn-info"

:javascript
  new Clipboard("#copy_seed")
  new Clipboard('#copy_address')
  $("#show-seed").click(function() {
    $("#secret-seed").removeClass("blur-text").addClass("unblur-text")
    $(this).hide()
    $("#hide-seed").show()
  })
  $("#hide-seed").click(function() {
    $("#secret-seed").removeClass("unblur-text").addClass("blur-text")
    $(this).hide()
    $("#show-seed").show()
  })
