.ibox.float-e-margins
  .ibox-title
    %h5 Transactions
  .ibox-content
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Created At
            %th Asset Code
            %th From
            %th To
            %th Amount
        %tbody
          - @transactions.reverse.each do |transaction|
            %tr
              %td
                = transaction['created_at']
              %td
                = transaction['asset_code'] || 'XLM'
              %td
                = transaction['from']
              %td
                = transaction['to']
              %td
                = transaction['amount']
