!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Cryptomover
    / Include style per-controller - vendor plugins
    / Main css styles
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css", rel: "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true
    / Main javascript files
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"}
    = csrf_meta_tags

      
  %body.top-navigation
    / Wrapper
    #wrapper
      / Page wraper
      #page-wrapper{:class => "gray-bg #{@extra_class}"}
        / Page wrapper
        = render 'layouts/shared/top_navbar'
        / Main view
        - if flash[:notice].present?
          .alert.alert-danger
            = flash[:notice]
        #layout-alert.alert.alert-danger
        = yield
        / Footer
        .footer
          .pull-right
            Cryptomover
          %div
            %strong Copyright
            © Cryptomover, Hong Kong 2017-2018
      / End page wrapper
      / End wrapper
    / Include javascript per-controller - vendor plugins
    / Include javascript per-view
    / For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want
    = yield :javascript
:javascript
  $("#layout-alert").hide()
