!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Cryptomover
    / Include style per-controller - vendor plugins
    / Main css styles
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", :integrity => "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", :rel => "stylesheet"}/
    / Main javascript files
    -# %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}
    -# %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"}

    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true
    = csrf_meta_tags

      
  %body.top-navigation
    = render 'layouts/shared/top_navbar'
    / Wrapper
    #wrapper
      / Main view
      - if flash[:notice].present?
        .alert.alert-danger
          = flash[:notice]
      .alert.alert-danger.text-center
        WORK IN PROGRESS!
        %br
        %b
          This wallet is still in development. Minor bugs might appear.
          %br
          Please use this wallet for testing purpose only.
      #layout-alert.alert.alert-danger
      .pace
      = yield
    / Footer
    %footer.footer
      .container
        %strong
          Copyright
          ©
          = link_to "Cryptomover", "https://www.cryptomover.com"
          , Hong Kong 2017-2018
      / End page wrapper
      / End wrapper
    / Include javascript per-controller - vendor plugins
    / Include javascript per-view
    / For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want
    = yield :javascript
:javascript
  $("#layout-alert").hide()
