!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Cryptomover
    / Include style per-controller - vendor plugins
    / Main css styles
    %link{href: "https://use.fontawesome.com/releases/v5.0.8/css/all.css", rel: "stylesheet"}
    / Main javascript files
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true
    = csrf_meta_tags

      
  %body.top-navigation
    = render 'layouts/shared/top_navbar'
    / Wrapper
    #wrapper
      / Main view
      - if flash[:notice].present?
        .alert.alert-danger
          = flash[:notice]
      .alert.alert-danger.text-center
        WORK IN PROGRESS!
        %br
        %b
          This wallet is still in development. Minor bugs might appear.
          %br
          Please use this wallet for testing purpose only.
      #layout-alert.alert.alert-danger
      .pace
      = yield
    / Footer
    %footer.footer
      .container
        .row
          .col-md-9
            %strong
              Copyright ©
              = link_to "Cryptomover", "https://www.cryptomover.com"
              , Hong Kong 2017-2018
          .col-md-3.social
            - if session[:address].present?
              = link_to "https://medium.com/cryptomover", target: "_blank" do
                %i.fab.fa-medium.fa-2x
              = link_to "https://t.me/cryptomover", target: "_blank" do
                %i.fab.fa-telegram.fa-2x
              = link_to "https://twitter.com/cryptomover", target: "_blank" do
                %i.fab.fa-twitter.fa-2x
              = link_to "https://github.com/cryptomover-code/stellar-rails", target: "_blank" do
                %i.fab.fa-github.fa-2x
      / End page wrapper
      / End wrapper
    / Include javascript per-controller - vendor plugins
    / Include javascript per-view
    / For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want
    = yield :javascript
:javascript
  $("#layout-alert").hide()
  $("#portfolio-menu").click(function() {
    console.log("redirectingn portfoilo")
    document.location.href='/portfolio'
  })
